<div class="container each-container">
  <div class="marketing">
    <div class="row detail_top_info">
      <div class="col-lg-3">
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcT7JU_x0OFtxJ2BwVGu0aka4HBVzwnUhic67JVafKatC4NwVW56" alt="Generic placeholder image" width="200" height="200">
      </div>
      <div class="col-lg-6" style="text-align:center; padding-top:50px">
        <h1>스트롱홀드 S7</h1>
      </div>
      <div class="col-sm-3">
        <button data-toggle="modal" data-target="#buy" class="btn btn-danger btn-lg" style="margin-top:70px">구매 문의 하기</button>
      </div>
    </div>
  </div> 

  <!--상단부 상품 이미지와 상품명-->
  <hr class="featurette-divider">

  <div class="container">
    <div style="padding:10px 0px 50px">
      <div class="col-sm-3" style="text-align:left">
        <h3>상품설명</h3> 
      </div>
      <div class="col-sm-6" ></div>
      <div class="col-sm-3">
      </div>
    </div>
  </div>
  
  <hr>

  <div style="padding:10px 0px 50px">
    <div class="col-sm-3" style="text-align:left"><h4>상품명</h4> </div>
    <div class="col-sm-9" style="text-align:left"><h4>스트롱홀드 S7</h4></div>
  </div>

  <div style="padding:10px 0px 50px">
    <div class="col-sm-3" style="text-align:left"><h4>판매가</h4> </div>
    <div class="col-sm-9" style="text-align:left"><h4>11,200,000원</h4></div>
  </div>

  <div style="padding:10px 0px 50px">
    <div class="col-sm-3" style="text-align:left"><h4>기능 설명</h4> </div>
    <div class="col-sm-9" style="text-align:left"><h4>기본형/옵션형 크기 설명 등!!!!</h4></div>
  </div>

  <div style="padding:10px 0px 50px">
    <div class="col-sm-3" style="text-align:left"><h4>사진 더보기</h4> </div>
    <div class="col-sm-9" style="text-align:left"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcT7JU_x0OFtxJ2BwVGu0aka4HBVzwnUhic67JVafKatC4NwVW56"></div>
  </div>

  <div style="padding:10px 0px 50px">
    <div class="col-sm-3" style="text-align:left"><h4>수리 보증 서비스</h4> </div>
    <div class="col-sm-9" style="text-align:left"><h4>제품을 구매한지 2년이 넘거나, 혹은 로스팅횟수가 2000회를 초과하면 무상수리서비스는 
    해제됩니다. 고장이 발생하면 스트롱홀드 본사를 통해 유상으로 수리할 수 있습니다. 
    유상수리비용은 교환한 부품의 실비와 출장비, 인건비 등에 따라 달라질 수 있습니다.
    * 수도권 지역에서 쿨링훅 모터 교체시 기본 수리비용 : xxx원.
    (위의 부품은 설명을 돕기위한 예시이며, 실제로 자주 고장나거나 단기간에 소모되는 부품이
    아닙니다.) </h4></div>
  </div>  
</div>       

<%= render :partial => "shop/buy_mail_form" %>