<div class="container each-container">
	<div class="col-sm-3">
	</div>
	<!-- 가격 테이블 시작-->
	<div class="col-sm-6" style="width:100%;">
		<!-- 가격 테이블 상단 시작-->
		<div style="width:100%;">
			<div style="width:100%;overflow-y:auto;overflow-x:hidden;">
				<table style="width:100%;">
					<tbody>
					<tr>
						<td class="line">
							<table style="width:100%;" cellpadding="0" cellspacing="2">
								<tbody>
								<tr>
									<th class="w_1" rowspan="2" bgcolor="#f8f8f8">국가 ▲</th>
									<th class="w_2" rowspan="2" bgcolor="#f8f8f8">상품명 ▲</th>
									<th class="w_3" rowspan="2" bgcolor="#f8f8f8" style="width: 80px;">Status</th>
									<th colspan="3" bgcolor="#f8f8f8">상품가격정보</th>
									<th colspan="3" bgcolor="#f8f8f8">포장단위</th>
									<th class="w_1" rowspan="2" bgcolor="#f8f8f8">총량</th>
									<th class="w_2" rowspan="2" bgcolor="#f8f8f8">합계금액</th>
								</tr>
								<tr>
									<th class="w_mini" bgcolor="#e5e5e5">1kg ▲</th>
									<th class="w_mini" bgcolor="#e5e5e5">5kg ▲</th>
									<th class="w_mini" bgcolor="#e5e5e5">20kg ▲</th>
									<th class="w_mini" bgcolor="#e5e5e5">1kg</th>
									<th class="w_mini" bgcolor="#e5e5e5">5kg</th>
									<th class="w_mini" bgcolor="#e5e5e5">20kg</th>
								</tr>
								</tbody>
							</table>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- 가격 테이블 상단 끝-->
		<!-- 가격 테이블 리스트 1 시작-->
		<div style="width:100%;">
			<div style="width:100%;overflow-y:auto;overflow-x:hidden;">
				<table cellpadding="0" cellspacing="0" style="width:100%;">
					<tbody>
					<tr>
						<td>
						<table class="dashed_line" cellpadding="0" cellspacing="0" style="width:100%;">
							<tbody>
							<tr>
								<td class="w_1">Vietnam</td>
								<td class="w_2">베트남 로부스타 G1</td>
								<td class="w_3">&nbsp;</td>
								<td class="w_mini">4,800</td>
								<td class="w_mini">4,600</td>
								<td class="w_mini">4,300</td>
								<td class="w_mini">
									<input type="text" name="etc_1kg" style="width:40px" maxlength="3" onkeydown="onNum();" onkeyup="onCount('4800', '4600', '8968', this.value, 0, '4300', 'etc')">개
								</td>
								<td class="w_mini">
								<input type="text" name="etc_5kg" style="width:40px" maxlength="3" onkeydown="onNum();" onkeyup="onCount('4800', '4600', '8968', this.value, 0, '4300', 'etc')">개
								</td>
								<td class="w_mini">
								<input type="text" name="etc_20kg" style="width:40px" maxlength="3" onkeydown="onNum();" onkeyup="onCount('4800', '4600', '8968', this.value, 0, '4300', 'etc')">개
								</td>
								<td class="w_1"><input type="text" style="width:40px;" name="etc_kg" readonly="">kg</td>
								<td class="w_2"><input type="text" name="etc_price" readonly="" style="text-align:right; border:none; width:110px;" >원</td>
							</tr>
							</tbody>
						</table>
						</td>
					</tr>			
					</tbody>
				</table>
			</div>
		</div>
		<!-- 가격 테이블 리스트 1 끝-->
		<!-- 가격 테이블 리스트 1 시작-->
		<div style="width:100%;">
			<div style="width:100%;overflow-y:auto;overflow-x:hidden;">
				<table cellpadding="0" cellspacing="0" style="width:100%;">
					<tbody>
					<tr>
						<td>
						<table class="dashed_line" cellpadding="0" cellspacing="0" style="width:100%;">
							<tbody>
							<tr>
								<td class="w_1">Vietnam</td>
								<td class="w_2">베트남 로부스타 G1</td>
								<td class="w_3">&nbsp;</td>
								<td class="w_mini">4,800</td>
								<td class="w_mini">4,600</td>
								<td class="w_mini">4,300</td>
								<td class="w_mini">
									<input type="text" name="etc_1kg" style="width:40px" maxlength="3" onkeydown="onNum();" onkeyup="onCount('4800', '4600', '8968', this.value, 0, '4300', 'etc')">개
								</td>
								<td class="w_mini">
								<input type="text" name="etc_5kg" style="width:40px" maxlength="3" onkeydown="onNum();" onkeyup="onCount('4800', '4600', '8968', this.value, 0, '4300', 'etc')">개
								</td>
								<td class="w_mini">
								<input type="text" name="etc_20kg" style="width:40px" maxlength="3" onkeydown="onNum();" onkeyup="onCount('4800', '4600', '8968', this.value, 0, '4300', 'etc')">개
								</td>
								<td class="w_1"><input type="text" style="width:40px;" name="etc_kg" readonly="">kg</td>
								<td class="w_2"><input type="text" name="etc_price" readonly="" style="text-align:right; border:none; width:110px;" >원</td>
							</tr>
							</tbody>
						</table>
						</td>
					</tr>			
					</tbody>
				</table>
			</div>
		</div>
		<!-- 가격 테이블 리스트 1 끝-->
		<!-- 가격 테이블 리스트 1 시작-->
		<div style="width:100%;">
			<div style="width:100%;overflow-y:auto;overflow-x:hidden;">
				<table cellpadding="0" cellspacing="0" style="width:100%;">
					<tbody>
					<tr>
						<td>
						<table class="dashed_line" cellpadding="0" cellspacing="0" style="width:100%;">
							<tbody>
							<tr>
								<td class="w_1">Vietnam</td>
								<td class="w_2">베트남 로부스타 G1</td>
								<td class="w_3">&nbsp;</td>
								<td class="w_mini">4,800</td>
								<td class="w_mini">4,600</td>
								<td class="w_mini">4,300</td>
								<td class="w_mini">
									<input type="text" name="etc_1kg" style="width:40px" maxlength="3" onkeydown="onNum();" onkeyup="onCount('4800', '4600', '8968', this.value, 0, '4300', 'etc')">개
								</td>
								<td class="w_mini">
								<input type="text" name="etc_5kg" style="width:40px" maxlength="3" onkeydown="onNum();" onkeyup="onCount('4800', '4600', '8968', this.value, 0, '4300', 'etc')">개
								</td>
								<td class="w_mini">
								<input type="text" name="etc_20kg" style="width:40px" maxlength="3" onkeydown="onNum();" onkeyup="onCount('4800', '4600', '8968', this.value, 0, '4300', 'etc')">개
								</td>
								<td class="w_1"><input type="text" style="width:40px;" name="etc_kg" readonly="">kg</td>
								<td class="w_2"><input type="text" name="etc_price" readonly="" style="text-align:right; border:none; width:110px;" >원</td>
							</tr>
							</tbody>
						</table>
						</td>
					</tr>			
					</tbody>
				</table>
			</div>
		</div>
		<!-- 가격 테이블 리스트 1 끝-->
		<!-- 가격 테이블 리스트 1 시작-->
		<div style="width:100%;">
			<div style="width:100%;overflow-y:auto;overflow-x:hidden;">
				<table cellpadding="0" cellspacing="0" style="width:100%;">
					<tbody>
					<tr>
						<td>
						<table class="dashed_line" cellpadding="0" cellspacing="0" style="width:100%;">
							<tbody>
							<tr>
								<td class="w_1">Vietnam</td>
								<td class="w_2">베트남 로부스타 G1</td>
								<td class="w_3">&nbsp;</td>
								<td class="w_mini">4,800</td>
								<td class="w_mini">4,600</td>
								<td class="w_mini">4,300</td>
								<td class="w_mini">
									<input type="text" name="etc_1kg" style="width:40px" maxlength="3" onkeydown="onNum();" onkeyup="onCount('4800', '4600', '8968', this.value, 0, '4300', 'etc')">개
								</td>
								<td class="w_mini">
								<input type="text" name="etc_5kg" style="width:40px" maxlength="3" onkeydown="onNum();" onkeyup="onCount('4800', '4600', '8968', this.value, 0, '4300', 'etc')">개
								</td>
								<td class="w_mini">
								<input type="text" name="etc_20kg" style="width:40px" maxlength="3" onkeydown="onNum();" onkeyup="onCount('4800', '4600', '8968', this.value, 0, '4300', 'etc')">개
								</td>
								<td class="w_1"><input type="text" style="width:40px;" name="etc_kg" readonly="">kg</td>
								<td class="w_2"><input type="text" name="etc_price" readonly="" style="text-align:right; border:none; width:110px;" >원</td>
							</tr>
							</tbody>
						</table>
						</td>
					</tr>			
					</tbody>
				</table>
			</div>
		</div>
		<!-- 가격 테이블 리스트 1 끝-->
		<!-- 가격 테이블 리스트 1 시작-->
		<div style="width:100%;">
			<div style="width:100%;overflow-y:auto;overflow-x:hidden;">
				<table cellpadding="0" cellspacing="0" style="width:100%;">
					<tbody>
					<tr>
						<td>
						<table class="dashed_line" cellpadding="0" cellspacing="0" style="width:100%;">
							<tbody>
							<tr>
								<td class="w_1">Vietnam</td>
								<td class="w_2">베트남 로부스타 G1</td>
								<td class="w_3">&nbsp;</td>
								<td class="w_mini">4,800</td>
								<td class="w_mini">4,600</td>
								<td class="w_mini">4,300</td>
								<td class="w_mini">
									<input type="text" name="etc_1kg" style="width:40px" maxlength="3" onkeydown="onNum();" onkeyup="onCount('4800', '4600', '8968', this.value, 0, '4300', 'etc')">개
								</td>
								<td class="w_mini">
								<input type="text" name="etc_5kg" style="width:40px" maxlength="3" onkeydown="onNum();" onkeyup="onCount('4800', '4600', '8968', this.value, 0, '4300', 'etc')">개
								</td>
								<td class="w_mini">
								<input type="text" name="etc_20kg" style="width:40px" maxlength="3" onkeydown="onNum();" onkeyup="onCount('4800', '4600', '8968', this.value, 0, '4300', 'etc')">개
								</td>
								<td class="w_1"><input type="text" style="width:40px;" name="etc_kg" readonly="">kg</td>
								<td class="w_2"><input type="text" name="etc_price" readonly="" style="text-align:right; border:none; width:110px;" >원</td>
							</tr>
							</tbody>
						</table>
						</td>
					</tr>			
					</tbody>
				</table>
			</div>
		</div>
		<!-- 가격 테이블 리스트 1 끝-->
		<!-- 가격 테이블 리스트 1 시작-->
		<div style="width:100%;">
			<div style="width:100%;overflow-y:auto;overflow-x:hidden;">
				<table cellpadding="0" cellspacing="0" style="width:100%;">
					<tbody>
					<tr>
						<td>
						<table class="dashed_line" cellpadding="0" cellspacing="0" style="width:100%;">
							<tbody>
							<tr>
								<td class="w_1">Vietnam</td>
								<td class="w_2">베트남 로부스타 G1</td>
								<td class="w_3">&nbsp;</td>
								<td class="w_mini">4,800</td>
								<td class="w_mini">4,600</td>
								<td class="w_mini">4,300</td>
								<td class="w_mini">
									<input type="text" name="etc_1kg" style="width:40px" maxlength="3" onkeydown="onNum();" onkeyup="onCount('4800', '4600', '8968', this.value, 0, '4300', 'etc')">개
								</td>
								<td class="w_mini">
								<input type="text" name="etc_5kg" style="width:40px" maxlength="3" onkeydown="onNum();" onkeyup="onCount('4800', '4600', '8968', this.value, 0, '4300', 'etc')">개
								</td>
								<td class="w_mini">
								<input type="text" name="etc_20kg" style="width:40px" maxlength="3" onkeydown="onNum();" onkeyup="onCount('4800', '4600', '8968', this.value, 0, '4300', 'etc')">개
								</td>
								<td class="w_1"><input type="text" style="width:40px;" name="etc_kg" readonly="">kg</td>
								<td class="w_2"><input type="text" name="etc_price" readonly="" style="text-align:right; border:none; width:110px;" >원</td>
							</tr>
							</tbody>
						</table>
						</td>
					</tr>			
					</tbody>
				</table>
			</div>
		</div>
		<!-- 가격 테이블 리스트 1 끝-->
		<!-- 가격 테이블 리스트 1 시작-->
		<div style="width:100%;">
			<div style="width:100%;overflow-y:auto;overflow-x:hidden;">
				<table cellpadding="0" cellspacing="0" style="width:100%;">
					<tbody>
					<tr>
						<td>
						<table class="dashed_line" cellpadding="0" cellspacing="0" style="width:100%;">
							<tbody>
							<tr>
								<td class="w_1">Vietnam</td>
								<td class="w_2">베트남 로부스타 G1</td>
								<td class="w_3">&nbsp;</td>
								<td class="w_mini">4,800</td>
								<td class="w_mini">4,600</td>
								<td class="w_mini">4,300</td>
								<td class="w_mini">
									<input type="text" name="etc_1kg" style="width:40px" maxlength="3" onkeydown="onNum();" onkeyup="onCount('4800', '4600', '8968', this.value, 0, '4300', 'etc')">개
								</td>
								<td class="w_mini">
								<input type="text" name="etc_5kg" style="width:40px" maxlength="3" onkeydown="onNum();" onkeyup="onCount('4800', '4600', '8968', this.value, 0, '4300', 'etc')">개
								</td>
								<td class="w_mini">
								<input type="text" name="etc_20kg" style="width:40px" maxlength="3" onkeydown="onNum();" onkeyup="onCount('4800', '4600', '8968', this.value, 0, '4300', 'etc')">개
								</td>
								<td class="w_1"><input type="text" style="width:40px;" name="etc_kg" readonly="">kg</td>
								<td class="w_2"><input type="text" name="etc_price" readonly="" style="text-align:right; border:none; width:110px;" >원</td>
							</tr>
							</tbody>
						</table>
						</td>
					</tr>			
					</tbody>
				</table>
			</div>
		</div>
		<!-- 가격 테이블 리스트 1 끝-->
		<!-- 가격 테이블 리스트 1 시작-->
		<div style="width:100%;">
			<div style="width:100%;overflow-y:auto;overflow-x:hidden;">
				<table cellpadding="0" cellspacing="0" style="width:100%;">
					<tbody>
					<tr>
						<td>
						<table class="dashed_line" cellpadding="0" cellspacing="0" style="width:100%;">
							<tbody>
							<tr>
								<td class="w_1">Vietnam</td>
								<td class="w_2">베트남 로부스타 G1</td>
								<td class="w_3">&nbsp;</td>
								<td class="w_mini">4,800</td>
								<td class="w_mini">4,600</td>
								<td class="w_mini">4,300</td>
								<td class="w_mini">
									<input type="text" name="etc_1kg" style="width:40px" maxlength="3" onkeydown="onNum();" onkeyup="onCount('4800', '4600', '8968', this.value, 0, '4300', 'etc')">개
								</td>
								<td class="w_mini">
								<input type="text" name="etc_5kg" style="width:40px" maxlength="3" onkeydown="onNum();" onkeyup="onCount('4800', '4600', '8968', this.value, 0, '4300', 'etc')">개
								</td>
								<td class="w_mini">
								<input type="text" name="etc_20kg" style="width:40px" maxlength="3" onkeydown="onNum();" onkeyup="onCount('4800', '4600', '8968', this.value, 0, '4300', 'etc')">개
								</td>
								<td class="w_1"><input type="text" style="width:40px;" name="etc_kg" readonly="">kg</td>
								<td class="w_2"><input type="text" name="etc_price" readonly="" style="text-align:right; border:none; width:110px;" >원</td>
							</tr>
							</tbody>
						</table>
						</td>
					</tr>			
					</tbody>
				</table>
			</div>
		</div>
		<!-- 가격 테이블 리스트 1 끝-->
			<!-- 가격 테이블 리스트 1 시작-->
		<div style="width:100%;">
			<div style="width:100%;overflow-y:auto;overflow-x:hidden;">
				<table cellpadding="0" cellspacing="0" style="width:100%;">
					<tbody>
					<tr>
						<td>
						<table class="dashed_line" cellpadding="0" cellspacing="0" style="width:100%;">
							<tbody>
							<tr>
								<td class="w_1">Vietnam</td>
								<td class="w_2">베트남 로부스타 G1</td>
								<td class="w_3">&nbsp;</td>
								<td class="w_mini">4,800</td>
								<td class="w_mini">4,600</td>
								<td class="w_mini">4,300</td>
								<td class="w_mini">
									<input type="text" name="etc_1kg" style="width:40px" maxlength="3" onkeydown="onNum();" onkeyup="onCount('4800', '4600', '8968', this.value, 0, '4300', 'etc')">개
								</td>
								<td class="w_mini">
								<input type="text" name="etc_5kg" style="width:40px" maxlength="3" onkeydown="onNum();" onkeyup="onCount('4800', '4600', '8968', this.value, 0, '4300', 'etc')">개
								</td>
								<td class="w_mini">
								<input type="text" name="etc_20kg" style="width:40px" maxlength="3" onkeydown="onNum();" onkeyup="onCount('4800', '4600', '8968', this.value, 0, '4300', 'etc')">개
								</td>
								<td class="w_1"><input type="text" style="width:40px;" name="etc_kg" readonly="">kg</td>
								<td class="w_2"><input type="text" name="etc_price" readonly="" style="text-align:right; border:none; width:110px;" >원</td>
							</tr>
							</tbody>
						</table>
						</td>
					</tr>			
					</tbody>
				</table>
			</div>
		</div>
		<!-- 가격 테이블 리스트 1 끝-->
		<!-- 가격 테이블 리스트 1 시작-->
		<div style="width:100%;">
			<div style="width:100%;overflow-y:auto;overflow-x:hidden;">
				<table cellpadding="0" cellspacing="0" style="width:100%;">
					<tbody>
					<tr>
						<td>
						<table class="dashed_line" cellpadding="0" cellspacing="0" style="width:100%;">
							<tbody>
							<tr>
								<td class="w_1">Vietnam</td>
								<td class="w_2">베트남 로부스타 G1</td>
								<td class="w_3">&nbsp;</td>
								<td class="w_mini">4,800</td>
								<td class="w_mini">4,600</td>
								<td class="w_mini">4,300</td>
								<td class="w_mini">
									<input type="text" name="etc_1kg" style="width:40px" maxlength="3" onkeydown="onNum();" onkeyup="onCount('4800', '4600', '8968', this.value, 0, '4300', 'etc')">개
								</td>
								<td class="w_mini">
								<input type="text" name="etc_5kg" style="width:40px" maxlength="3" onkeydown="onNum();" onkeyup="onCount('4800', '4600', '8968', this.value, 0, '4300', 'etc')">개
								</td>
								<td class="w_mini">
								<input type="text" name="etc_20kg" style="width:40px" maxlength="3" onkeydown="onNum();" onkeyup="onCount('4800', '4600', '8968', this.value, 0, '4300', 'etc')">개
								</td>
								<td class="w_1"><input type="text" style="width:40px;" name="etc_kg" readonly="">kg</td>
								<td class="w_2"><input type="text" name="etc_price" readonly="" style="text-align:right; border:none; width:110px;" >원</td>
							</tr>
							</tbody>
						</table>
						</td>
					</tr>			
					</tbody>
				</table>
			</div>
		</div>
		<!-- 가격 테이블 리스트 1 끝-->
		<!-- 가격 테이블 리스트 1 시작-->
		<div style="width:100%;">
			<div style="width:100%;overflow-y:auto;overflow-x:hidden;">
				<table cellpadding="0" cellspacing="0" style="width:100%;">
					<tbody>
					<tr>
						<td>
						<table class="dashed_line" cellpadding="0" cellspacing="0" style="width:100%;">
							<tbody>
							<tr>
								<td class="w_1">Vietnam</td>
								<td class="w_2">베트남 로부스타 G1</td>
								<td class="w_3">&nbsp;</td>
								<td class="w_mini">4,800</td>
								<td class="w_mini">4,600</td>
								<td class="w_mini">4,300</td>
								<td class="w_mini">
									<input type="text" name="etc_1kg" style="width:40px" maxlength="3" onkeydown="onNum();" onkeyup="onCount('4800', '4600', '8968', this.value, 0, '4300', 'etc')">개
								</td>
								<td class="w_mini">
								<input type="text" name="etc_5kg" style="width:40px" maxlength="3" onkeydown="onNum();" onkeyup="onCount('4800', '4600', '8968', this.value, 0, '4300', 'etc')">개
								</td>
								<td class="w_mini">
								<input type="text" name="etc_20kg" style="width:40px" maxlength="3" onkeydown="onNum();" onkeyup="onCount('4800', '4600', '8968', this.value, 0, '4300', 'etc')">개
								</td>
								<td class="w_1"><input type="text" style="width:40px;" name="etc_kg" readonly="">kg</td>
								<td class="w_2"><input type="text" name="etc_price" readonly="" style="text-align:right; border:none; width:110px;" >원</td>
							</tr>
							</tbody>
						</table>
						</td>
					</tr>			
					</tbody>
				</table>
			</div>
		</div>
		<!-- 가격 테이블 리스트 1 끝-->
		<!-- 가격 테이블 리스트 1 시작-->
		<div style="width:100%;">
			<div style="width:100%;overflow-y:auto;overflow-x:hidden;">
				<table cellpadding="0" cellspacing="0" style="width:100%;">
					<tbody>
					<tr>
						<td>
						<table class="dashed_line" cellpadding="0" cellspacing="0" style="width:100%;">
							<tbody>
							<tr>
								<td class="w_1">Vietnam</td>
								<td class="w_2">베트남 로부스타 G1</td>
								<td class="w_3">&nbsp;</td>
								<td class="w_mini">4,800</td>
								<td class="w_mini">4,600</td>
								<td class="w_mini">4,300</td>
								<td class="w_mini">
									<input type="text" name="etc_1kg" style="width:40px" maxlength="3" onkeydown="onNum();" onkeyup="onCount('4800', '4600', '8968', this.value, 0, '4300', 'etc')">개
								</td>
								<td class="w_mini">
								<input type="text" name="etc_5kg" style="width:40px" maxlength="3" onkeydown="onNum();" onkeyup="onCount('4800', '4600', '8968', this.value, 0, '4300', 'etc')">개
								</td>
								<td class="w_mini">
								<input type="text" name="etc_20kg" style="width:40px" maxlength="3" onkeydown="onNum();" onkeyup="onCount('4800', '4600', '8968', this.value, 0, '4300', 'etc')">개
								</td>
								<td class="w_1"><input type="text" style="width:40px;" name="etc_kg" readonly="">kg</td>
								<td class="w_2"><input type="text" name="etc_price" readonly="" style="text-align:right; border:none; width:110px;" >원</td>
							</tr>
							</tbody>
						</table>
						</td>
					</tr>			
					</tbody>
				</table>
			</div>
		</div>
		<!-- 가격 테이블 리스트 1 끝-->
		<!-- 가격 테이블 리스트 1 시작-->
		<div style="width:100%;">
			<div style="width:100%;overflow-y:auto;overflow-x:hidden;">
				<table cellpadding="0" cellspacing="0" style="width:100%;">
					<tbody>
					<tr>
						<td>
						<table class="dashed_line" cellpadding="0" cellspacing="0" style="width:100%;">
							<tbody>
							<tr>
								<td class="w_1">Vietnam</td>
								<td class="w_2">베트남 로부스타 G1</td>
								<td class="w_3">&nbsp;</td>
								<td class="w_mini">4,800</td>
								<td class="w_mini">4,600</td>
								<td class="w_mini">4,300</td>
								<td class="w_mini">
									<input type="text" name="etc_1kg" style="width:40px" maxlength="3" onkeydown="onNum();" onkeyup="onCount('4800', '4600', '8968', this.value, 0, '4300', 'etc')">개
								</td>
								<td class="w_mini">
								<input type="text" name="etc_5kg" style="width:40px" maxlength="3" onkeydown="onNum();" onkeyup="onCount('4800', '4600', '8968', this.value, 0, '4300', 'etc')">개
								</td>
								<td class="w_mini">
								<input type="text" name="etc_20kg" style="width:40px" maxlength="3" onkeydown="onNum();" onkeyup="onCount('4800', '4600', '8968', this.value, 0, '4300', 'etc')">개
								</td>
								<td class="w_1"><input type="text" style="width:40px;" name="etc_kg" readonly="">kg</td>
								<td class="w_2"><input type="text" name="etc_price" readonly="" style="text-align:right; border:none; width:110px;" >원</td>
							</tr>
							</tbody>
						</table>
						</td>
					</tr>			
					</tbody>
				</table>
			</div>
		</div>
		<!-- 가격 테이블 리스트 1 끝-->
		<!-- 가격 테이블 리스트 1 시작-->
		<div style="width:100%;">
			<div style="width:100%;overflow-y:auto;overflow-x:hidden;">
				<table cellpadding="0" cellspacing="0" style="width:100%;">
					<tbody>
					<tr>
						<td>
						<table class="dashed_line" cellpadding="0" cellspacing="0" style="width:100%;">
							<tbody>
							<tr>
								<td class="w_1">Vietnam</td>
								<td class="w_2">베트남 로부스타 G1</td>
								<td class="w_3">&nbsp;</td>
								<td class="w_mini">4,800</td>
								<td class="w_mini">4,600</td>
								<td class="w_mini">4,300</td>
								<td class="w_mini">
									<input type="text" name="etc_1kg" style="width:40px" maxlength="3" onkeydown="onNum();" onkeyup="onCount('4800', '4600', '8968', this.value, 0, '4300', 'etc')">개
								</td>
								<td class="w_mini">
								<input type="text" name="etc_5kg" style="width:40px" maxlength="3" onkeydown="onNum();" onkeyup="onCount('4800', '4600', '8968', this.value, 0, '4300', 'etc')">개
								</td>
								<td class="w_mini">
								<input type="text" name="etc_20kg" style="width:40px" maxlength="3" onkeydown="onNum();" onkeyup="onCount('4800', '4600', '8968', this.value, 0, '4300', 'etc')">개
								</td>
								<td class="w_1"><input type="text" style="width:40px;" name="etc_kg" readonly="">kg</td>
								<td class="w_2"><input type="text" name="etc_price" readonly="" style="text-align:right; border:none; width:110px;" >원</td>
							</tr>
							</tbody>
						</table>
						</td>
					</tr>			
					</tbody>
				</table>
			</div>
		</div>
		<!-- 가격 테이블 리스트 1 끝-->
		<!-- 가격 테이블 리스트 1 시작-->
		<div style="width:100%;">
			<div style="width:100%;overflow-y:auto;overflow-x:hidden;">
				<table cellpadding="0" cellspacing="0" style="width:100%;">
					<tbody>
					<tr>
						<td>
						<table class="dashed_line" cellpadding="0" cellspacing="0" style="width:100%;">
							<tbody>
							<tr>
								<td class="w_1">Vietnam</td>
								<td class="w_2">베트남 로부스타 G1</td>
								<td class="w_3">&nbsp;</td>
								<td class="w_mini">4,800</td>
								<td class="w_mini">4,600</td>
								<td class="w_mini">4,300</td>
								<td class="w_mini">
									<input type="text" name="etc_1kg" style="width:40px" maxlength="3" onkeydown="onNum();" onkeyup="onCount('4800', '4600', '8968', this.value, 0, '4300', 'etc')">개
								</td>
								<td class="w_mini">
								<input type="text" name="etc_5kg" style="width:40px" maxlength="3" onkeydown="onNum();" onkeyup="onCount('4800', '4600', '8968', this.value, 0, '4300', 'etc')">개
								</td>
								<td class="w_mini">
								<input type="text" name="etc_20kg" style="width:40px" maxlength="3" onkeydown="onNum();" onkeyup="onCount('4800', '4600', '8968', this.value, 0, '4300', 'etc')">개
								</td>
								<td class="w_1"><input type="text" style="width:40px;" name="etc_kg" readonly="">kg</td>
								<td class="w_2"><input type="text" name="etc_price" readonly="" style="text-align:right; border:none; width:110px;" >원</td>
							</tr>
							</tbody>
						</table>
						</td>
					</tr>			
					</tbody>
				</table>
			</div>
		</div>
		<!-- 가격 테이블 리스트 1 끝-->
		<!-- 가격 테이블 리스트 1 시작-->
		<div style="width:100%;">
			<div style="width:100%;overflow-y:auto;overflow-x:hidden;">
				<table cellpadding="0" cellspacing="0" style="width:100%;">
					<tbody>
					<tr>
						<td>
						<table class="dashed_line" cellpadding="0" cellspacing="0" style="width:100%;">
							<tbody>
							<tr>
								<td class="w_1">Vietnam</td>
								<td class="w_2">베트남 로부스타 G1</td>
								<td class="w_3">&nbsp;</td>
								<td class="w_mini">4,800</td>
								<td class="w_mini">4,600</td>
								<td class="w_mini">4,300</td>
								<td class="w_mini">
									<input type="text" name="etc_1kg" style="width:40px" maxlength="3" onkeydown="onNum();" onkeyup="onCount('4800', '4600', '8968', this.value, 0, '4300', 'etc')">개
								</td>
								<td class="w_mini">
								<input type="text" name="etc_5kg" style="width:40px" maxlength="3" onkeydown="onNum();" onkeyup="onCount('4800', '4600', '8968', this.value, 0, '4300', 'etc')">개
								</td>
								<td class="w_mini">
								<input type="text" name="etc_20kg" style="width:40px" maxlength="3" onkeydown="onNum();" onkeyup="onCount('4800', '4600', '8968', this.value, 0, '4300', 'etc')">개
								</td>
								<td class="w_1"><input type="text" style="width:40px;" name="etc_kg" readonly="">kg</td>
								<td class="w_2"><input type="text" name="etc_price" readonly="" style="text-align:right; border:none; width:110px;" >원</td>
							</tr>
							</tbody>
						</table>
						</td>
					</tr>			
					</tbody>
				</table>
			</div>
		</div>
		<!-- 가격 테이블 리스트 1 끝-->
		<!--가격 테이블 하단 시작 -->
		<div class="line" style="width:100%;">
			<table cellpadding="0" cellspacing="0" bgcolor="f8f8f8">
			
			<!-- 하단 왼쪽 시작 -->
				<table valign="top">
					<div class="col-sm-4" style="padding-top: 10px;">
						<ul>
							<li>
								<span>상품명 : <input type="text"> <button type="button" class="btn btn-default btn-xs">검색</button> </span>
								
							</li>
						</ul>
					</div>	
				<!-- 하단 왼쪽 끝 -->			
				<!-- 하단 오른쪽 시작 -->
						<td>
							<div class="col-sm-9" style="width: 700px; padding-left: 140px; padding-top: 10px; padding-right: 0px; padding-bottom: 10px;">
						<table>
					    	<tbody>
					        <tr>
								<td>생두주문</td>
								<td><input type="text" readonly="">KG</td>
								<td><input type="text" readonly="">원</td>
							</tr>
							<tr>
								<td>COE 주문</td>
								<td><input type="text" readonly="">KG</td>
								<td><input type="text" readonly="">원</td>
							</tr>
							<tr>
								<td>배송료</td>
								<td></td>
								<td><input type="text"readonly="">원</td>
							</tr>
							<tr>
								<td>총 주문내역</td>
								<td><input type="text" readonly="">KG</td>
								<td><input type="text" readonly="">원</td>
							</tr>
							<tr>
								<td>※ 고객님의 주문수량에 따른 할인금액 </td>
								<td></td>
								<td><input type="text" readonly="">원</td>
							</tr>
							</tbody>
						</table>
						
						<!-- 총 주문내역 끝 -->
					</td>
				</tr>
			    </tbody>
			</table>
		</table>
	<div style="text-align:right; padding-top:10px" class="container col-sm-12">
		<button type="button" class="btn btn-danger btn-sm">장바구니</button>
		<button type="button" class="btn btn-danger btn-sm">구매하기</button>
		</div>
	</div>
	<div class="col-sm-3">
	</div>
</div>	