// Place all the styles related to the shop controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#not1, #not2 {
    display: inline-block;
}
.notice-head {
  border-bottom: 1px solid #6A6767;
  background-color: transparent;
  margin: 0px 200px;
  font-size: 21px;
  color: #6A6767;
  height: 60px;
}
.notice-body {
  margin: 20px 200px;
  font-size: 21px;
  color: #6A6767;
}