<p>안녕하세요, <%= @resource.name %>님!</p>

<p>회원님의 계정이 5회이상의 로그인 실패로 일시 잠금 되었습니다.</p>

<p>잠금을 해제하시려면 아래의 '잠금 해제하기'버튼을 클릭해주시기 바랍니다.</p>

<p><%= link_to '잠금 해제하기', unlock_url(@resource, unlock_token: @token) %></p>

<p>본인이 시도하지 않은 경우에는 운영자에게 알려주시기 바라며,</p>

<p>비밀번호를 변경하시는 것을 권장합니다.</p>
