<div class="each-container">
    <div class="container line">
        <div class="col-sm-12" style="margin-top:40px; padding-left: 0px;">
            <div class="menu">
                <ul>
                    <li><a href="/users/edit" >개인정보</a></li>
                    <li><a href="/mypage/shoppinglist" >쇼핑내역</a></li>
                    <li><a href="/mypage/exchange" class="active">교환/환불</a></li>
                </ul>

            </div>
        </div>
    </div>
    <div class="container" style="padding-left: 0px; padding-right: 0px;">
        <p>과연 이페이지가 있어야 할까.</p>
    </div>
</div>


    