<div class="each-container">
    <div class="container line">
        <div class="col-sm-12" style="margin-top:40px; padding-left: 0px;">
            <div class="menu">
                <ul>
                    <li><a href="/users/edit">개인정보</a></li>
                    <li><a href="/mypage/shoppinglist" class="active" >쇼핑내역</a></li>
                    <li><a href="/mypage/exchange" >교환/환불</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container" style="padding:10px 0px 50px">
        <div>
          <div class="col-sm-3" style="text-align:left"><h3>주문 번호</h3> </div>
          <div class="col-sm-3" style="text-align:left"><h3>상품명</h3></div>
          <div class="col-sm-3" style="text-align:left"><h3>금액</h3></div>
          <div class="col-sm-3" style="text-align:left"><h3>배송현황</h3></div>
        </div>
        <hr>
        <div>
            <div class="col-sm-3" style="text-align:left"><h4>1234567</h4> </div>
            <div class="col-sm-3" style="text-align:left"><h4>멋있음</h4></div>
            <div class="col-sm-3" style="text-align:left"><h4>6억8천</h4></div>
            <div class="col-sm-3" style="text-align:left"><h4>배송중</h4></div>
        </div>      
    </div>
</div>
    